<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ionecar.mapper.CarMapper">

    <!-- edpsCsn으로 Car 레코드 삽입 -->
    <insert id="insertCar" parameterType="com.ionecar.domain.Car" useGeneratedKeys="true" keyProperty="carSrn"> 
        INSERT INTO Car(edps_csn) VALUES (#{edpsCsn}) 
    </insert> 

    <!-- 방금 삽입된(혹은 가장 최근) car_srn 조회 -->
    <select id="selectInsertedCarByEdpsCsn" parameterType="long" resultType="com.ionecar.domain.Car">    
        SELECT 
            car_srn,
            edps_csn,
            car_brand,
            car_class,
            car_sub_class,
            car_price,
            car_color,
            car_interior_color
        FROM Car 
        WHERE edps_csn = #{edpsCsn}
        ORDER BY car_srn DESC
        LIMIT 1
    </select>

    <!-- carSrn으로 Car 정보 조회 -->
    <select id="selectCarByCarSrn" parameterType="long" resultType="com.ionecar.domain.Car">    
        SELECT 
            car_srn,
            edps_csn,
            car_brand,
            car_class,
            car_sub_class,
            car_price,
            car_color,
            car_interior_color
        FROM Car 
        WHERE car_srn = #{carSrn} 
    </select>

    <!-- 브랜드 업데이트 -->
    <update id="updateCarBrand">
        UPDATE Car SET car_brand = #{carBrand} WHERE car_srn = #{carSrn}
    </update>

    <!-- 클래스 업데이트 -->
    <update id="updateCarClass">
        UPDATE Car SET car_class = #{carClass} WHERE car_srn = #{carSrn}
    </update>

    <!-- 서브클래스 업데이트 -->
    <update id="updateCarSubClass">
        UPDATE Car SET car_sub_class = #{carSubClass} WHERE car_srn = #{carSrn}
    </update>

    <!-- 외장 색상 업데이트 -->
    <update id="updateCarColor">
        UPDATE Car SET car_color = #{carColor} WHERE car_srn = #{carSrn}
    </update>

    <!-- 내장 색상 업데이트 -->
    <update id="updateCarInteriorColor">
        UPDATE Car SET car_interior_color = #{carInteriorColor} WHERE car_srn = #{carSrn}
    </update>

    <!-- 가격 업데이트 -->
    <update id="updateCarPrice">
        UPDATE Car SET car_price = #{carPrice} WHERE car_srn = #{carSrn}
    </update>

    <!-- carSrn으로 삭제 -->
    <delete id="deleteCarByCarSrn" parameterType="long">
        DELETE FROM Car WHERE car_srn = #{carSrn}
    </delete>

    <!-- edpsCsn으로 삭제 -->
    <delete id="deleteCarByEdpsCsn" parameterType="long">
        DELETE FROM Car WHERE edps_csn = #{edpsCsn}
    </delete>

</mapper>